<!-- chat.html -->
{% extends 'base.html' %}

{% block titulo %}
    <title>Chat - Mi Blog de Recetas</title>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <h1>Chat</h1>
        <div class="row">
            <!-- Aquí se mostrarán los chats disponibles -->
            <div class="col-md-6">
                <h2>Tus Chats</h2>
                <ul>
                    {% for chat in chats %}
                        <li><a href="{% url 'detalle_chat' chat.id %}">Chat con {{ chat.usuario_1.username }} y {{ chat.usuario_2.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Aquí se mostrarán los mensajes del chat seleccionado -->
            <div class="col-md-6">
                {% if selected_chat %}
                    <h2>Chat con {{ selected_chat.usuario_1.username }} y {{ selected_chat.usuario_2.username }}</h2>
                    <div id="chat-messages">
                        {% for message in selected_chat.messages.all %}
                            <p><strong>{{ message.fecha_creacion|date:"Y-m-d H:i:s" }}</strong>: {{ message.texto }}</p>
                        {% endfor %}
                    </div>
                    <!-- Formulario para enviar mensajes -->
                    <form method="post" action="{% url 'enviar_mensaje' selected_chat.id %}">
                        {% csrf_token %}
                        <textarea name="mensaje" rows="3" cols="40"></textarea>
                        <br>
                        <input type="submit" value="Enviar mensaje">
                    </form>
                {% else %}
                    <p>Selecciona un chat para empezar a chatear.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}
