{% extends 'base.html' %}

{% block titulo %}
    <title>Recetas</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Recetas</h1>

    <form action="{% url 'ver_recetas' %}" method="GET" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar recetas">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <div class="row">
        {% if recetas %}
            {% for receta in recetas %}
                <div class="col-md-3">
                   
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p>No hay recetas todavía.</p>
            </div>
        {% endif %}
    </div>


    <div class="container">
        <div class="row">
            {% for receta in recetas %}
            <div class="col-md-6 mb-3">
                <div class="card horizontal-card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if receta.imagen %}
                            <img src="{{ receta.imagen.url }}" alt="Imagen de la receta" class="img-fluid rounded" style="width: 250px; height: 250px;">
                            {% else %}
                            <img src="tu-imagen-predeterminada.jpg" alt="Imagen predeterminada" class="img-fluid rounded" style="width: 250px; height: 250px;">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title">{{ receta.titulo }}</h2>
                                <p class="card-text"><strong>Categoría:</strong> {{ receta.categoria }}</p>
                                <p class="card-text"><strong>Ingredientes:</strong></p>
                                <p class="card-text">{{ receta.ingredientes|safe|slice:":10" }}{% if receta.ingredientes|length > 50 %}...<a href="{% url 'detalle_receta' receta.id %}"></a>{% endif %}</p>
                                <p class="card-text"><strong>Instrucciones:</strong></p>
                                <p class="card-text">{{ receta.instrucciones|safe|slice:":100" }}{% if receta.instrucciones|length > 50 %}...<a href="{% url 'detalle_receta' receta.id %}">Ver más</a>{% endif %}</p>
                                <div class="mt-3">
                                    <a href="{% url 'detalle_receta' receta.id %}" class="btn btn-primary mr-2">Ver detalles</a>
                                    {% if user == receta.creador %}
                                    <a href="{% url 'editar_receta' receta.id %}" class="btn btn-warning mr-2">Editar</a>
                                    <form action="{% url 'eliminar_receta' receta.id %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'agregar_receta' %}" class="btn btn-success">Agregar una nueva receta</a>
    <a href="{% url 'inicio' %}" class="btn btn-secondary">Volver a la página de inicio</a>
{% endblock contenido %}
