{% extends 'base.html' %}

{% block titulo %}
    <title>Agregar Receta</title>
{% endblock titulo %}

{% block contenido %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Agregar Receta</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.titulo.id_for_label }}">Título</label>
                        {{ form.titulo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.subtitulo.id_for_label }}">Subtítulo</label>
                        {{ form.subtitulo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                        {{ form.categoria }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.ingredientes.id_for_label }}">Ingredientes</label>
                        {{ form.ingredientes }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.instrucciones.id_for_label }}">Instrucciones</label>
                        {{ form.instrucciones }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.imagen.id_for_label }}">Imagen</label>
                        {{ form.imagen }}
                    </div>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    {# Incluir los archivos estáticos de CKEditor #}
    {{ form.media }}
{% endblock contenido %}


